

body{
text-align: center;
display: flex;
justify-content: center;
}

.temp{
  background-color: aqua;
  padding: 0.5rem;
  border-radius: 10px;
  margin: 15px;
 
}

input {
  padding: 0.5rem;
  border-radius: 10px;
  margin: 15px;
}